body {
    background-color:wheat;
}

h1{
    color:red;
    font-size: 68px;
    text-transform: uppercase;
}

p {
    color:darkcyan;
    font-size: 20px;
}
ul {
    color: brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}